# Logs
**/ohsome_log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python trash
__pychache__
*.pyc
accounts.json

# Heavy files
data/continents/africa/lsms/raw/*
!data/continents/africa/lsms/raw/Readme.md
!data/continents/africa/lsms/raw/district.json

data/continents/africa/tfrecords/raw/*
!data/continents/africa/tfrecords/raw/Readme.md

data/continents/africa/ResNet18/cnn_weights/*
data/continents/africa/ResNet50/cnn_weights/*
data/continents/africa/ResNet152/cnn_weights/*

data/continents/africa/ResNet18/cnn_features/*
data/continents/africa/ResNet50/cnn_features/*
data/continents/africa/ResNet152/cnn_features/*
