bs4==0.0.1
earthengine-api==0.1.317
geopandas==0.9.0
matplotlib==3.5.2
ohsome==0.1.0
pandas==1.4.3
requests==2.25.1
scikit-learn==1.5.1
scipy==1.7.1
seaborn==0.11.2
shapely==1.8.2
tensorflow==2.12.1
torch==2.6.0
tqdm==4.66.3
world-bank-data==0.1.3